<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="header.component.css">
  </head>
  <nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success"> <!-- Cambia "bg-dark" a "bg-success" -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
           <img src="https://e7.pngegg.com/pngimages/726/984/png-clipart-logo-agriculture-tractor-farm-tractor-logo-computer-wallpaper.png" alt="Logo" width="32" height="32" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item" routerLinkActive="active">
              <a class="#" routerLink="/home" >Home</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
              <a class="#" routerLink="/servicios" >Servicios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a  class="#" routerLink="/quienes-somos">Quienes somos</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
              <a   href='#' routerLink="/galeria">Galeria de imagenes</a>
            </li>

            <li class="nav-item">
              <a  href="#" tabindex="-1" aria-disabled="true">Nocturno</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a><button class="btn btn-outline-success" type="submit">Buscar</button></a>
          </form>
        </div>

      </div>

    </nav>

  </nav>
</html>
