<body>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <div class="card text-center bg-primary mb-3" style="max-width: 40rem; height: 230px; background-color: rgba(240, 240, 240, 0.7) !important;">
        <div class="card-header" style="font-family: 'Arial Narrow'; color: rgb(166, 125, 125); font-size: 29px;">Bienvenidos a Somos</div>
        <div class="card-body">
          <p class="card-text" style="font-family: 'Arial Narrow'; color: green; font-size: 15px;">En Somos, nuestra pasión es construir un futuro más sólido y fértil para comunidades enteras. Desde nuestros inicios, nos hemos dedicado incansablemente a dos pilares fundamentales: la agricultura y la construcción.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card text-center bg-primary mb-3" style="max-width: 40rem; height: 230px; background-color: rgba(240, 240, 240, 0.7) !important;">
        <div class="card-header" style="font-family: 'Arial Narrow'; color:  rgb(166, 125, 125); font-size: 29px;">Nuestra Misión</div>
        <div class="card-body">
          <p class="card-text" style="font-family: 'Arial Narrow'; color: green; font-size: 15px;">Nuestra misión es impulsar el crecimiento sostenible y la prosperidad en todas las áreas donde trabajamos. En el sector agrícola, cultivamos la tierra con respeto por la naturaleza y producimos alimentos de alta calidad para alimentar a las personas y nutrir sus vidas. En el campo de la construcción, edificamos infraestructuras que conectan, protegen y mejoran la vida de las personas, al tiempo que preservamos la belleza y la integridad del entorno.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-6">
      <div class="card text-center bg-primary mb-3" style="max-width: 40rem; height: 230px; background-color: rgba(240, 240, 240, 0.7) !important;">
        <div class="card-header" style="font-family: 'Arial Narrow'; color:  rgb(166, 125, 125); font-size: 29px;">Nuestra Experiencia</div>
        <div class="card-body">
          <p class="card-text"style="font-family: 'Arial Narrow'; color: green; font-size: 15px;" >Con décadas de experiencia en ambas industrias, hemos acumulado un profundo conocimiento y experiencia que nos permite abordar una amplia variedad de proyectos, desde la creación de modernas viviendas hasta la ingeniería de sistemas de riego eficientes. Nuestro equipo de expertos altamente capacitados trabaja con dedicación para superar desafíos y entregar resultados excepcionales.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card text-center bg-primary mb-3" style="max-width: 40rem; height: 230px; background-color: rgba(240, 240, 240, 0.7) !important;">
        <div class="card-header" style="font-family: 'Arial Narrow'; color:  rgb(166, 125, 125); font-size: 29px;">Valores Fundamentales</div>
        <div class="card-body">
          <p class="card-text" style="font-family: 'Arial Narrow'; color: green; font-size: 15px;">En [Nombre de la Empresa], nuestros valores son la base de todo lo que hacemos. La integridad, la innovación, la responsabilidad social y el compromiso con la sostenibilidad son principios que guían cada uno de nuestros movimientos. Nos esforzamos por ser líderes en el cuidado del medio ambiente y la comunidad, siempre buscando soluciones que tengan un impacto positivo en el mundo que compartimos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
