<body>
  <div class="gallery">
      <div class="image">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/002/382/851/small/closeup-little-organic-vegetable-grown-in-the-nursery-tray-at-the-farm-with-blurred-group-of-vegetables-in-background-free-photo.jpg" alt="Imagen 1">
          <div class="overlay">
              <h2>San Jose de fragua</h2>
          </div>
      </div>
      <div class="image">
          <img src="https://www.fao.org/typo3temp/pics/4e56d40a67.jpg" alt="Imagen 2">
          <div class="overlay">
              <h2>Choco</h2>
          </div>
      </div>
      <div class="image">
          <img src="https://cdn.agroempresario.com/images/posts/0bbcb50f92dd89c30aa7484cd5c6d52e1fa93be0785ac720_840.jpg" alt="Imagen 3">
          <div class="overlay">
              <h2>Rivera</h2>
          </div>
      </div>
      <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCYq6xOf_6rCwsSIJ5CU5kRd7_cUMjQylyMA&usqp=CAU" alt="Imagen 4">
        <div class="overlay">
            <h2>Pereira</h2>
        </div>
    </div>
    <div class="image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgTTB7xFjA2R4EEsUOpNvQvTRsAj-gqig3ig&usqp=CAU" alt="Imagen 5">
      <div class="overlay">
          <h2>Alcala</h2>
      </div>
  </div>
  <div class="image">
    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/FFOJPPLXFZHLBOCPO3PD5XHB4I.jpg" alt="Imagen 5">
    <div class="overlay">
        <h2>Caqueta</h2>
    </div>
</div>
<div class="image">
  <img src="https://www.vanguardia.com/binrepository/716x477/0c0/0d0/none/12204/OWCO/colp-ext-079410-1_8649160_20230818182343.jpg" alt="Imagen 5">
  <div class="overlay">
      <h2>Huila</h2>
  </div>
</div>
  </div>
</body>
