<body>
<div class="site-section testimonial-wrap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 mb-5 text-center">
          <h1 class="section-subtitle">Campos y servicios</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="testimonial">
            <img src="https://www.portafolio.co/files/article_main/uploads/2021/08/12/6115a5f2a873d.jpeg" alt="" width="300" height="200">

            <blockquote>
              <h3>Sector Agrícola:</h3>
              <p>
                1. Agricultura de precisión: Utilización de tecnologías como la teledetección, los drones y los sistemas de información geográfica (SIG) para optimizar la gestión de cultivos, la irrigación y la fertilización.</p>
                <p> 2. Gestión de datos agrícolas: Servicios de recopilación, análisis y visualización de datos para ayudar a los agricultores a tomar decisiones informadas sobre la gestión de sus cultivos.

                </p><p> 3. Monitoreo y control de plagas: Sistemas de monitoreo automático y alertas tempranas para identificar y controlar plagas y enfermedades de manera más eficaz.

                </p><p>4. Asesoramiento agronómico: Plataformas en línea que proporcionan recomendaciones personalizadas sobre la gestión de cultivos, la selección de semillas y prácticas agrícolas sostenibles.

                </p><p>5. Tecnología de riego inteligente: Sistemas de riego automatizado que optimizan el uso del agua y mejoran la eficiencia en la irrigación.

                </p><p>6. Logística y gestión de cadenas de suministro agrícolas: Servicios que ayudan a los agricultores a gestionar la distribución, el almacenamiento y la comercialización de sus productos de manera eficiente.
                </p>
            </blockquote>

          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="testimonial">
            <img src="https://img.freepik.com/fotos-premium/dos-ingenieros-construccion-hombres-negocios-asiaticos-que-supervisan-progreso-proyecto-construccion-sitio-construccion_61243-1493.jpg" alt="" width="300" height="200">
            <blockquote>
              <h3>Sector de Construcción</h3>
              <p>1. Gestión de proyectos de construcción: Software y servicios que facilitan la planificación, programación, seguimiento y gestión de proyectos de construcción.
              </p><p> 2. Topografía y levantamiento: Servicios de topografía y escaneo láser para crear modelos digitales del terreno y garantizar una planificación precisa.
                </p><p> 3. BIM (Building Information Modeling): Implementación de modelos 3D que contienen información detallada sobre todos los aspectos de un proyecto de construcción, desde el diseño hasta la operación y el mantenimiento.
                </p><p> 5. Gestión de la cadena de suministro de materiales: Optimización de la adquisición, entrega y almacenamiento de materiales de construcción para reducir costos y retrasos.
                </p><p> 6. Gestión de residuos y sostenibilidad: Servicios que ayudan a gestionar los desechos de construcción y promueven prácticas sostenibles en la industria.
                </p><p> 7. Diseño arquitectónico y renderización: Servicios de diseño asistido por computadora (CAD) y visualización en 3D para la planificación y presentación de proyectos.
                </p><p> 8. Consultoría en regulaciones y normativas: Asesoramiento legal y técnico para garantizar el cumplimiento de las normativas y requisitos locales en los proyectos de construcción.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

