/* Estilo para el fondo desenfocado */
body {
    background-image: url('https://www.vanguardia.com/binrepository/716x477/0c0/0d0/none/12204/OWCO/colp-ext-079410-1_8649160_20230818182343.jpg '); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
    background-size: 80%;
    background-position: center;
    height: 100vh;
    filter: blur(0px); /* Aplicar desenfoque al fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo para el contenido en el centro */
.content {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente blanco */
    padding: 20px;
    border-radius: 50px;
}

/* Estilo para el título */
h1 {
    font-size: 36px; /* Tamaño del título */
    margin-bottom: 10px;
    color: lightgreen;
}

/* Estilo para el recuadro de texto */
.box {
  font-size: 36px; /* Tamaño del título */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente negro */
    padding: 20px;
    border-radius: 10px;
    color: white; /* Color del texto */
}


#content {
    color: white;
    background-attachment: fixed;
    padding: 25px;
    margin: 0 auto;
    max-width: 600px;
    -webkit-box-shadow:  1px 1px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow:  1px 1px 5px 3px rgba(0, 0, 0, 0.2);
}
